<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div style="text-align: right">
      <button class="btn btn-blue" (click)="logout()">Logout</button>
  </div>
  
  <div class="card card0 border-0">
     <div class="row d-flex">
        <div class="col-lg-12">
           <div class="card2 card border-0 px-4 py-5">
              
              <form class="form-signin" [formGroup]="userForm">
                  <div class="form-group row px-3">
                     <label class="mb-1">
                        <h6 class="mb-0 text-sm">Name</h6>
                     </label>
                     <input formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" type="text" 
                      class="form-control"  placeholder="Enter name"> 
                     <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Please add name</div>
                     </div>
                     
                  </div>
                   <div class="form-group row px-3">
                      <label class="mb-1">
                         <h6 class="mb-0 text-sm">Contact number</h6>
                      </label>
                      <input formControlName="contactNumber" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" type="number"
                        class="form-control"  placeholder="Enter contact number"> 
                      <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                         <div *ngIf="f.contactNumber.errors.required">Please add contact number</div>
                      </div>
                      
                   </div>
                   <div class="form-group row px-3">
                      <label class="mb-1">
                         <h6 class="mb-0 text-sm">Email id</h6>
                      </label>
                      <input formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" type="text"
                        class="form-control"  placeholder="Enter a valid email address"> 
                      <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                         <div *ngIf="f.emailId.errors.required">Please add email address</div>
                         <div *ngIf="f.emailId.errors.pattern">Please enter valid email id</div>
                      </div>
                      
                   </div>
                  <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="update()">Update</button> </div>
              </form>
              
           </div>
        </div>
     </div>
  </div>
</div>